
@{
    Layout = "~/Views/Shared/_LoginandRegisterLayout.cshtml";
}

<div class="container" id="LoadPartial">
    @{
        Html.RenderPartial("Login");
    }
</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script type="text/javascript"> 
    $(document).ready(function () {
        $("#txtLoginpassword").keypress(function () { $("#errorpassword").html(""); });
        $("#txtMobile").keypress(function () { $("#errormobile").html(""); $("#credentialsError").html("") });
        
        $("#btnpassword").click(function () {

            if ($("#txtLoginpassword").val().length != 0) {
                $("#btnsubmit").click();
            }
            else {
                $("#errorpassword").html("Password Cannot be Empty");
            }
        });

       
        $("#btnnext").click(function () {
            
            
            var mobile = $("#txtMobile").val();
            
                if (mobile.length != 0) {
                    var regex = /^[6-9]{1}[0-9]{9}$/;
                    if (regex.test(mobile) != false) {
                        $("#btnnext").hide();
                        $("#loading").show();
                        $("#mobDiv").hide();
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("IsUser")',
                            data: '{Mobile:' + JSON.stringify(mobile) + '}',
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (val) {
                                if (val.length != 0) {
                                    //alert(val)

                                    LoadPassword();
                                }
                                else {
                                    
                                    LoadRegister(mobile);
                                }

                            },
                            error: function (ex) {
                                $("#errormobile").html("Error while fetching data try after sometime");
                            }
                        });
                    }
                    else {
                        $("#errormobile").html("Invalid Mobile Number")
                    }

                }
                else {
                    $("#errormobile").html("Mobile Number Cannot be Empty")
                }
            return false;
        });
    });

    

    function LoadPassword() {
        $("#loading").hide();
        $('#datatoapppend').show();
        }
    function LoadRegister(mobile) {
        $("#loading").hide();
        $('#LoadPartial div').remove();
        $('#LoadPartial').load('/Home/Register?mobile=' + mobile);
    }
</script>

