
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>User Validation</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    @*style="background-color:#150941"*@
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bg {
            background-image: url("./../../Content/images/loginbg.png");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .form-control {
            border: 2px solid #150941;
        }
            .form-control:focus {
                border: 2px solid #150941;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
            }
    </style>
</head>
<body class="bg">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="card col-md-4" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2%;
        margin: 0, auto;
        border-radius:10px;
        margin-top:7%; " >
            @RenderBody()
        </div>
        <div class="col-md-4"></div>
    </div>
    
</body>
</html>
